.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #eee;
}

.logo,
.login-button,
.logout-button {
  width: 50%;
}

.login-button,
.logout-button {
  display: flex;
  justify-content: space-evenly;
}
